extend layout
block content
    .container-fluid
        .row
            .col-sm-12.col-md-5.results_wrapper
                .row.filter
                    .col-xs-12.col-md-2
                        p Filter
                    .col-xs-12.col-md-10
                        .row
                            .col-xs-4
                                select#category
                                    option(value='') Any category
                                    option(value='math') Math
                                    option(value='physics') Physics
                                    option(value='calculus') Calculus
                            .col-xs-4
                                select#rating
                                    option(value='') Any rating
                                    option(value='2') 2 stars and up
                                    option(value='3') 3 stars and up
                                    option(value='4') 4 stars and up
                            .col-xs-4
                                select#rate
                                    option(value='') Any hourly rate
                                    option(value='_10') $10/hr and below
                                    option(value='10_30') $10/hr - $30/hr
                                    option(value='30_60') $30/hr - $60/hr
                                    option(value='60_') $60/hr and above
                .row.results
                    - for (var x = 1; x < 16; x++)
                        .col-xs-12.col-md-12.tutor
                            .row
                                .col-xs-2
                                    a(href'#')
                                        img(src='https://a2.muscache.com/im/pictures/460c4846-cb56-4e4f-95eb-2b00eb0912a2.jpg?aki_policy=profile_small')
                                .col-xs-10.tutor_details
                                    p.name Reza Karami
                                    p.city
                                        i.icon.icon_pin_alt
                                        | Mississauga
                                    .row
                                        .col-xs-4
                                            span.hourly_rate $19.00 / hr
                                        .col-xs-4
                                            span.hours_worked 
                                                | 45 hrs 
                                                i.icon.icon_clock_alt
                                        .col-xs-4
                                            span.rating
                                                | 4.5/5 
                                                i.icon.icon_star_alt
                            .row.action_buttons
                                .col-xs-4
                                    a(href='#') 
                                        i.icon.icon_calendar
                                        |  Book Session
                                .col-xs-4
                                    a(href='#') 
                                        i.icon.icon_comment_alt
                                        |  Message
                                .col-xs-4
                                    a(href='#') 
                                        i.icon.icon_heart_alt
                                        |  Save
                        
            .col-md-7.hidden-sm.map_view
                #map