extend layout
block content
    .container-fluid
        .row
            .col-sm-12.col-md-5
                .row.filter
                    .col-xs-12
                        p Filter
                .row.results
                    .col-xs-12.col-md-6.item
                        .row
                            .col-xs-2
                                p Photo
                            .col-xs-8
                                p Details
                            .col-xs-2
                                p Contact/Save
                    .col-xs-12.col-md-6.item
                        .row
                            .col-xs-2
                                p Photo
                            .col-xs-8
                                p Details
                            .col-xs-2
                                p Contact/Save
                    .col-xs-12.col-md-6.item
                        .row
                            .col-xs-2
                                p Photo
                            .col-xs-8
                                p Details
                            .col-xs-2
                                p Contact/Save
                        
            .hidden-sm.col-md-7
                p Map view 