:root {
	--light-grey: rgb(238, 238, 238);
	--dark-grey: rgb(50, 50, 50);
	--orange: rgb(255, 124, 0);
	--light-orange: rgb(255, 137, 25);
	--dark-orange: rgb(209, 102, 0);
	--blue: rgb(0, 201, 255);
	--dark-blue: rgb(0, 141, 178);
	--nav-size: 100px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body { 
	background-color: var(--light-grey); 
	font-family: 'Roboto',Arial,sans-serif;
	font-weight:200;
	letter-spacing: -2px;
}

nav {
	height: var(--nav-size);
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	background-color: var(--light-grey);
}

nav h2 { margin: 0; }

nav .container { height: 100%; }
nav .container > img:nth-of-type(1) { height: 100%; }

nav .container .pull-right {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	box-shadow: 35px 0px 0px -33px var(--orange),
	 -35px 0px 0px -33px var(--blue);
}

nav a { text-decoration: none; color: var(--dark-grey);}

/*no orange*/
nav .container .pull-right:last-child {
	/*box-shadow: 35px 0px 0px -33px var(--orange), 
		0px 0px 0px 0px var(--blue);*/
}
/*no blue*/
nav .container .pull-right:first-child {
	/*box-shadow: 0px 0px 0px 0px var(--blue),
		35px 0px 0px -33px var(--orange);*/
}


/*MAIN PAGE*/


/*MAIN CONTAINER*/

#main-container {
	background: 
	    url("../images/cover-photo.jpg");
	height:85vh;
	/*display:flex;
	align-items:center;*/
	position:relative;
	margin-top: var(--nav-size);
	padding:15px;
	color:#FFF;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow:hidden;
}

#main-container > .container { height: 100%; }
#main-container > .container > div { height: 100%; padding: 50px; }

#main-container > .container > div > .sign-up-now-container { 
	padding: 15px; 
	background-color: rgba(0, 0, 0, 0.5);
	right: 0;
	height: 100%;
}
#main-container .sign-up-now-container { display: flex; align-items: center; justify-content: center; }
#main-container .sign-up-now-container form { width: 100%; padding: 15px;}
#main-container .sign-up-now-container form h4 { 
	font-size: 25px; 
	letter-spacing: -1px; 
	text-align:right; 
	padding: 5px; 
	color: var(--orange);
	font-weight: 300;
}
#main-container .sign-up-now-container form input { 
	margin: 10px 0; 
	border: 0; 
	padding: 10px; 
	text-align:left; 
	font-size: 15px;
	width: 100%;
	color: var(--blue);
	font-weight: 300;
	background-color: rgb(238,238,238); /*fallback color*/
	background-color: rgba(238,238,238,0.5);
}
#main-container .sign-up-now-container form input::-webkit-input-placeholder { color: var(--dark-grey); }
#main-container .sign-up-now-container form input:-moz-placeholder { color: var(--dark-grey); }
#main-container .sign-up-now-container form input::-moz-placeholder { color: var(--dark-grey); }
#main-container .sign-up-now-container form input:-ms-input-placeholder { color: var(--dark-grey); }

#main-container .sign-up-now-container form > .row > div:nth-of-type(2) { display:flex;}
#main-container .sign-up-now-container form > .row:last-child > input { 
	background-color: var(--orange); 
	padding: 10px 25px;
	font-size: 25px;
	font-weight: 400;
	color: var(--dark-grey);
	width: inherit;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
} 
#main-container .sign-up-now-container form > .row:last-child > input:hover { 
	background-color: var(--dark-orange); 
	padding: 10px 35px;
} 



/*SECOND CONTAINER*/

#second-container {
	background: 
	    linear-gradient(
	      rgba(238, 238, 238, 0.65), 
	      rgba(238, 238, 238, 0.65)
	    ),
	    url("../images/large-polygons/polygon-large.svg");
	/*display:flex;
	align-items:center;*/
	background-repeat:no-repeat;
	background-position:center center;
	/*background-attachment:fixed;*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow:hidden;
}
#second-container h2 { font-weight: 300; margin: 15px 0 0 0; font-size: 45px;}
#second-container h3 { font-weight: 100; margin: 0 0 5px 0; font-size: 30px;}
#second-container img { height: 128px; width: 128px;}
#second-container .row { margin: 100px 0; }
#second-container { padding: 15px;}
#second-container > .container { text-align: center; height: 100%;}
#second-container > .container > h2:first-child { margin: 75px 0;}


/*THIRD CONTAINER*/

#third-container { background-color: var(--dark-grey); height: 85vh;}
#second-container > .container { text-align: center; height: 100%;}



/*SECOND PAGE*/

#signup-form { 
	/*background: 
	    linear-gradient(
	      rgba(238, 238, 238, 0.65), 
	      rgba(238, 238, 238, 0.65)
	    ),
	    url("../images/large-polygons/polygon-large.svg");*/
	display:flex;
	align-items:center;
	/*background-repeat:no-repeat;
	background-position:center center;*/
	/*background-attachment:fixed;*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow:hidden;
	margin-top: var(--nav-size);
}
#signup-form > .container { display:flex; align-items:center; justify-content: center;}
#signup-form form { width: 50%; padding: 15px;}
#signup-form form h4 { 
	font-size: 25px; 
	letter-spacing: -1px; 
	text-align:right; 
	padding: 5px; 
	color: var(--orange);
	font-weight: 300;
}
#signup-form form input { 
	margin: 10px 0; 
	border: 0; 
	padding: 10px; 
	text-align:left; 
	font-size: 15px;
	width: 100%;
	color: var(--blue);
	font-weight: 300;
	background-color: rgb(238,238,238); /*fallback color*/
	background-color: rgba(238,238,238,0.5);
}
#signup-form form input::-webkit-input-placeholder { color: var(--dark-grey); }
#signup-form form input:-moz-placeholder { color: var(--dark-grey); }
#signup-form form input::-moz-placeholder { color: var(--dark-grey); }
#signup-form form input:-ms-input-placeholder { color: var(--dark-grey); }

#signup-form form > .row > div:nth-of-type(2) { display:flex;}
#signup-form form > .row:last-child { text-align:center;}
#signup-form form > .row:last-child > input { 
	background-color: var(--orange); 
	padding: 10px 25px;
	font-size: 25px;
	font-weight: 400;
	color: var(--dark-grey);
	width: inherit;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
} 
#signup-form form > .row:last-child > input:hover { 
	background-color: var(--dark-orange); 
	padding: 10px 35px;
} 