@import 'nib'
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

global-reset()

orange = #f39742
orange-hover = #ff9f45
blue = #36c8f1
blue-hover = #38d4ff
background-color = #FFF

.btn-warning
  background-color orange !important
  border-color orange !important

.btn-warning:hover, .btn-warning:active
  background-color orange-hover !important
  border-color orange-hover !important

.btn-primary
  background-color blue !important
  border-color blue !important

.btn-primary:hover, .btn-primary:active
  background-color blue-hover !important
  border-color blue-hover !important

body
  font-family 'Lato'
  background-color background-color
  color #333

.navbar-brand
  padding: 8px 8px 15px 13px;

.logo
  height 50px

.navbar
  margin-bottom 0
  min-height 60px
  border none
  border-bottom 1px solid #ddd

.navbar i.icon
  font-size: 18px;
  color: #999;
  position: absolute;
  top: 22px;
  left: 21px;

input#top_search
  border: none;
  border-left: 1px solid #DDD;
  display: inline-block;
  width: 350px;
  padding: 20px 0 20px 50px;
  outline: none
  transition: all .1s ease-in-out

input#top_search:focus
  font-size 20px
  padding 18px 0 18px 50px

.nav.navbar-right img
  border-radius 50%
  height 35px
  top 12px
  position relative
  margin-left 10px

.nav.navbar-right li {
    height: 60px;
    line-height: 60px;
    border-left: 1px solid #DDD;
}

.nav.navbar-right li:first-child {
  border-left: none
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #f6f6f6;
}

.nav.navbar-right li a {
    padding: 0 20px;
    line-height: 60px;
    color: #555;
}

.nav.navbar-right li a.btn {
  line-height: 40px;
  margin: 10px 20px;
  color: #FFF;
}

.results_wrapper
  position fixed
  top 60px
  left 0
  right auto
  bottom 0
  overflow-x hidden
  overflow-y auto

.results_wrapper i.icon {
    font-size: 16px;
    color: inherit;
    vertical-align: middle;
    margin-top: -3px;
    display: inline-block;
    margin-right: 5px
}

.filter {
    border-bottom: 1px solid #DDD;
    padding: 15px 20px;
}

.select2-container {
  width 100% !important
}

.select2-container .select2-selection--single {
  height: 35px;
}

.select2-container--default .select2-selection--single {
  border-radius: 2px;
  border-color: #DDD;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding 2px 15px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    position: absolute;
    top: -1px;
    right: 6px;
    width: 20px;
}

.results .tutor {
    padding: 15px 20px 0px 20px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.results .tutor img {
    border-radius: 50%;
    height: 70px
}

.results .tutor .tutor_details {
  padding-left: 25px;
}

.results .tutor .hourly_rate, .results .tutor .hours_worked {
    background: blue;
    color: #FFF;
    padding: 3px 7px;
    border-radius: 2px;
    margin-top: 5px;
    display: inline-block;
}

.results .tutor .rating {
    background: orange;
    color: #FFF;
    padding: 3px 7px;
    border-radius: 2px;
    margin-top: 5px;
    display: inline-block;
}

.results .tutor .rating i.icon, .results .tutor .hours_worked i.icon {
    font-size: 15px;
    margin-top: -5px;
    margin-right: 0;
    margin-left: 2px;
}

.results .tutor .name {
    font-size 18px
    margin-bottom 5px
    margin-top -1px
}

.results .tutor .city {
    font-size 15px
    margin-bottom 5px
    color: #AAA
}

.results .tutor .action_buttons {
    margin: 15px -20px 0 -20px;
}

.results .tutor .action_buttons .col-xs-4 {
  padding: 0
  margin: 0
}

.results .tutor .action_buttons a {
  color: #777;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.results .tutor .action_buttons .col-xs-4:last-child a {
  border-right none
}

.results .tutor .action_buttons a:hover, .results .tutor .action_buttons a:active {
    background: #F6F6F6;
    color: blue;
}

.results .tutor .action_buttons a:hover, .results .tutor .action_buttons a:active
  text-decoration: none

.map_view
  position fixed
  top 60px
  right 0
  left auto
  bottom 0
  border-left 1px solid #DDD
  padding: 0

#map
  height 100%