@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700");
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
hr {
  border-top: 1px solid #DDD;
}
a img {
  border: none;
}
.h1, h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
.btn {
  transition: background .1s ease-in-out;
  border-radius: 2px;
}
.btn-warning {
  background-color: #f39742 !important;
  border-color: #f39742 !important;
}
.btn-warning:hover,
.btn-warning:active {
  background-color: #ff9f45 !important;
  border-color: #ff9f45 !important;
}
.btn-primary {
  background-color: #2ba9cc !important;
  border-color: #2ba9cc !important;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #36c8f1 !important;
  border-color: #36c8f1 !important;
}
.btn-lg {
  font-size: inherit;
  padding: 12px 45px;
}
body {
  font-family: 'Lato';
  background-color: #fff;
  color: #333;
}
.navbar-brand {
  padding: 11px 15px 15px 15px;
}
.logo {
  height: 38px;
}
.navbar {
  margin-bottom: 0;
  min-height: 60px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.navbar i.icon {
  font-size: 18px;
  color: #999;
  position: absolute;
  top: 22px;
  left: 21px;
}
input#top_search {
  border: none;
  border-left: 1px solid #ddd;
  display: inline-block;
  width: 350px;
  padding: 20px 0 20px 50px;
  outline: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input#top_search:focus {
  font-size: 20px;
  padding: 18px 0 18px 50px;
}
.nav.navbar-right img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 35px;
  top: 12px;
  position: relative;
  margin-left: 10px;
}
.nav.navbar-right > li {
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #ddd;
}
.nav.navbar-right > li:first-child {
  border-left: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #f6f6f6;
}
.nav.navbar-right li > a {
  padding: 0 20px;
  line-height: 60px;
  color: #555;
}
.nav.navbar-right li a.btn {
  line-height: 40px;
  margin: 10px 20px;
  color: #fff;
}
.dropdown-menu {
  padding: 0;
  border: 0;
  border-top: 1px solid #DDD;
  border-radius: 0;
}
#homepage_cover {
  position: relative;
  background: url(../images/cover-photo.jpg) no-repeat center center;
  height: 600px;
}
#homepage_cover .container {
    position: absolute;
    width: 100%;
    bottom: 90px;
}
#homepage_cover .container h1 {
  color: #FFF;
  font-size: 50px;
  text-shadow: -1px -1px 1px #222;
}
#homepage_cover .container h2 {
  color: #FFF;
  font-size: 40px;
  text-shadow: 1px 1px 1px #222;
}
#search_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background: rgba(0,0,0,.5);
  text-align: center;
}
#search_wrapper #search_query, #search_wrapper #search_location {
  padding: 12px 20px;
  border: 0;
  width: 400px;
}
#search_wrapper #search_query {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px solid #DDD;
}
#search_wrapper #search_submit {
    background: #f39742;
    color: #FFF;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px 25px 9px 25px;
    margin-top: -4px;
    font-size: 16px;
}
section#subjects {
  padding: 30px 0;
}
section#subjects img {
    height: 50px;
    padding: 30px;
    box-sizing: content-box;
    border-bottom: 1px solid #DDD;
}
section#subjects .row.boxed_wrapper {
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
section#subjects .boxed {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 5px 10px 10px 10px;
    transition: background .1s ease-in-out;
}
section#subjects .boxed:hover {
  background: #FAFAFA;
}
section#overview {
  padding: 30px 0;
}
section#overview img {
  width: 70px;
  margin-bottom: 20px;
}
.results_wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  right: auto;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.results_wrapper i.icon {
  font-size: 16px;
  color: inherit;
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
  margin-right: 5px;
}
.filter {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 35px;
}
.select2-container--default .select2-selection--single {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: #ddd;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 2px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
  position: absolute;
  top: -1px;
  right: 6px;
  width: 20px;
}
.results .tutor {
  padding: 15px 20px 0px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.results .tutor img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 70px;
}
.results .tutor .tutor_details {
  padding-left: 25px;
}
.results .tutor .hourly_rate,
.results .tutor .hours_worked {
  background: #2ba9cc;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 5px;
  display: inline-block;
}
.results .tutor .rating {
  background: #f39742;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 5px;
  display: inline-block;
}
.results .tutor .rating i.icon,
.results .tutor .hours_worked i.icon {
  font-size: 15px;
  margin-top: -5px;
  margin-right: 0;
  margin-left: 2px;
}
.results .tutor .name {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: -1px;
}
.results .tutor .city {
  font-size: 15px;
  margin-bottom: 5px;
  color: #aaa;
}
.results .tutor .action_buttons {
  margin: 15px -20px 0 -20px;
}
.results .tutor .action_buttons .col-xs-4 {
  padding: 0;
  margin: 0;
}
.results .tutor .action_buttons a {
  color: #777;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.results .tutor .action_buttons .col-xs-4:last-child a {
  border-right: none;
}
.results .tutor .action_buttons a:hover,
.results .tutor .action_buttons a:active {
  background: #f6f6f6;
  color: #2ba9cc;
}
.results .tutor .action_buttons a:hover,
.results .tutor .action_buttons a:active {
  text-decoration: none;
}
.map_view {
  position: fixed;
  top: 60px;
  right: 0;
  left: auto;
  bottom: 0;
  border-left: 1px solid #ddd;
  padding: 0;
}
#map {
  height: 100%;
}
footer {
  background: url('../images/footer_bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  margin-top: 30px;
  color: #444;
}
footer img {
  width: 80%;
}
footer h3 {
    margin: 0 0 20px 0;
    color: #555;
}
footer ul li a {
    margin-bottom: 10px;
    display: inline-block;
    color: #888;
    transition: color .1s ease-in-out;
}
footer ul li a:hover, footer ul li a:active {
  text-decoration: none;
  color: #ff7c00;
}
footer hr {
  border-top: 1px solid #333;
  margin: 40px 0;
}
footer .social_icons .icon {
    font-size: 26px;
    margin: 20px;
    color: #777;
    transition: color .1s ease-in-out;
}
footer .social_icons .icon:hover, footer .social_icons .icon:active {
  text-decoration: none;
  color: #ff7c00;
}