@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 !important;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
html, body {
  height: 100%;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
  padding-top: 60px;
}
body > .container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.07);
  min-height: calc(100% - 484px);
}
ol,
ul {
  list-style: none;
}
table {
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  font-weight: normal;
  vertical-align: middle;
}
hr {
  border-top: 1px solid #DDD;
}
a img {
  border: none;
}
.h1, h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
p {
    font-size: 16px;
    line-height: 22px;
}
.btn-block {
  padding: 10px;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.clearfix {
  clear: both;
}
.btn {
  padding: 10px 15px;
  transition: background .1s ease-in-out;
  border-radius: 2px;
}
.btn-warning {
  background-color: #f39742 !important;
  border-color: #f39742 !important;
}
.btn-warning:hover,
.btn-warning:active {
  background-color: #ffad55 !important;
  border-color: #ffad55 !important;
}
.btn-primary {
  background-color: #2ba9cc !important;
  border-color: #2ba9cc !important;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #36c8f1 !important;
  border-color: #36c8f1 !important;
}
.btn-lg {
  font-size: inherit;
  padding: 12px 45px;
}
body {
  font-family: 'Lato';
  background-color: #fff;
  color: #333;
}
.navbar-brand {
  padding: 11px 15px 15px 15px;
}
.logo {
  height: 38px;
}
.navbar {
  margin-bottom: 0;
  min-height: 60px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}
.navbar i.icon {
  font-size: 18px;
  color: #999;
  position: absolute;
  top: 22px;
  left: 21px;
}
input#top_search {
  border: none;
  border-left: 1px solid #ddd;
  display: inline-block;
  width: 350px;
  padding: 20px 0 20px 50px;
  font-size: 16px;
  outline: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input#top_search:focus {
  font-size: 19px;
  padding: 18px 0 18px 50px;
}
.nav.navbar-right img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 35px;
  top: 12px;
  position: relative;
  margin-left: 10px;
}
.nav.navbar-right > li {
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #ddd;
}
.nav.navbar-right > li:first-child {
  border-left: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #f6f6f6;
}
.nav.navbar-right li > a {
  padding: 0 20px;
  line-height: 60px;
  color: #555;
  outline: 0;
  transition: padding .1s ease-in-out;
  border-bottom: 1px solid #DDD;
}
.nav.navbar-right li:last-child > a {
  border-bottom: 0;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  padding-left: 25px;
}
.nav.navbar-right li a.btn {
  line-height: 40px;
  margin: 10px 20px;
  color: #fff;
}
.nav.navbar-right > li.dropdown:last-child .dropdown-menu {
  border-right: 0;
}
.dropdown-menu {
  padding: 0;
  border: 1px solid #DDD;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba(0,0,0,.07);
}
#homepage_cover {
  position: relative;
  background: url(../images/cover-photo.jpg) no-repeat center center;
  height: 600px;
}
#homepage_cover .container {
    position: absolute;
    width: 100%;
    bottom: 90px;
}
#homepage_cover .container h1 {
  color: #FFF;
  font-size: 50px;
  text-shadow: -1px -1px 1px #222;
}
#homepage_cover .container h2 {
  color: #FFF;
  font-size: 40px;
  text-shadow: 1px 1px 1px #222;
}
#tutor_cover {
  position: relative;
  background: url(../images/tutor-cover.jpg) no-repeat center center;
  background-size: cover;
  height: 300px;
  z-index: -1;
}
#search_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background: rgba(0,0,0,.5);
  text-align: center;
}
#search_wrapper #search_query, #search_wrapper #search_location {
  padding: 15px 20px;
  border: 0;
  width: 400px;
}
#search_wrapper #search_query {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px solid #DDD;
}
#search_wrapper #search_submit {
    background: #f39742;
    color: #FFF;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 12px 25px 11px 25px;
    margin-top: -4px;
    font-size: 16px;
}
.pac-item {
  padding: 6px 20px;
  font-size: 16px;
  color: #444;
  font-family: Lato;
}
.pac-item-query {
  font-size: inherit;
}
.pac-icon {
  display: none;
}
.pac-item:hover, .pac-item:active, .pac-item-selected {
  background: #ffad55;
  color: #FFF;
  border-top: 1px solid #ffad55;
}
.pac-item-query {
  color: inherit;
}
section#subjects {
  padding: 30px 0;
}
section#subjects img {
    height: 50px;
    padding: 30px;
    box-sizing: content-box;
    border-bottom: 1px solid #DDD;
}
section#subjects .row.boxed_wrapper {
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
section#subjects .widget {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 5px 10px 10px 10px;
    transition: background .1s ease-in-out;
}
section#subjects .widget:hover {
  background: #FAFAFA;
}
section#overview {
  padding: 30px 0;
}
section#overview img {
  width: 70px;
  margin-bottom: 20px;
}
.results_wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  right: auto;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.results_wrapper i.icon {
  font-size: 16px;
  color: inherit;
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
  margin-right: 5px;
}
.filter {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 35px;
}
.select2-container--default .select2-selection--single {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: #ddd;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 2px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
  position: absolute;
  top: -1px;
  right: 6px;
  width: 20px;
}
.results .tutor {
  padding: 15px 20px 0px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.results .tutor img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 70px;
}
.results .tutor .tutor_details {
  padding-left: 25px;
}
.results .tutor .hourly_rate,
.results .tutor .hours_worked {
  background: #2ba9cc;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 5px;
  display: inline-block;
}
.results .tutor .rating {
  background: #f39742;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 5px;
  display: inline-block;
}
.results .tutor .rating i.icon,
.results .tutor .hours_worked i.icon {
  font-size: 14px;
  margin-top: -5px;
  margin-right: 0;
  margin-left: 2px;
}
.results .tutor .name {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: -1px;
}
.results .tutor .city {
  font-size: 15px;
  margin-bottom: 5px;
  color: #aaa;
}
.results .tutor .action_buttons {
  margin: 15px -20px 0 -20px;
}
.results .tutor .action_buttons .col-xs-4 {
  padding: 0;
  margin: 0;
}
.results .tutor .action_buttons a {
  color: #777;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.results .tutor .action_buttons .col-xs-4:last-child a {
  border-right: none;
}
.results .tutor .action_buttons a:hover,
.results .tutor .action_buttons a:active {
  background: #f6f6f6;
  color: #2ba9cc;
}
.results .tutor .action_buttons a:hover,
.results .tutor .action_buttons a:active {
  text-decoration: none;
}
.map_view {
  position: fixed;
  top: 60px;
  right: 0;
  left: auto;
  bottom: 0;
  border-left: 1px solid #ddd;
  padding: 0;
}
.map_view #map {
  height: 100%;
}
.or {
    display: block;
    text-align: center;
    margin: 15px;
    color: #888;
    font-size: 15px;
}

.or:before {
    content: ' ';
    position: absolute;
    left: 15px;
    margin-top: 10px;
    width: 42%;
    background: #CCC;
    height: 1px;
}

.or:after {
    content: ' ';
    position: absolute;
    right: 15px;
    margin-top: 10px;
    width: 42%;
    background: #CCC;
    height: 1px;
}
input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #DDD;
    border-radius: 2px;
    background-color: #fff;
    margin-top: -2px;
}
input[type="checkbox"]:checked:before {
    content: "\2713";
    position: absolute;
    font-size: 16px;
    left: -2px;
    top:-4px;
    text-align: center;
    width: 20px;
    color: #337ab7;
}
.boxed {
  border: 1px solid #DDD;
  border-radius: 2px;
}
.form-group.boxed .icon {
    position: absolute;
    font-size: 20px;
    margin: 20px 21px;
    color: #777;
}
.form-group.boxed input {
    padding: 17px 30px 17px 60px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
}
.faux_shade {
  position: absolute;
  width: calc(100% + 2px);
  height: 110px;
  background: rgba(0,0,0,.7);
  top: -110px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-left: -1px;
}
.faux_shade_over {
  margin-top: -110px;
}
.profile_wrapper {
  padding: 25px;
  border-right: 1px solid #DDD;
}
.profile_overview .table {
  margin-bottom: 0;
}
.profile_overview .table tr td {
  border-top: none;
  padding: 0;
}
.profile_overview .table tr td.profile_picture {
  width: 250px;
  padding-right: 30px;
}
.profile_overview .table tr td.profile_picture img {
  width: 250px;
  border-radius: 2px;
}
.profile_overview .name {
  margin-top: 0;
  margin-bottom: 15px;
  color: #F8F8F8;
}
.profile_overview .city {
  color: #AAA;
}
.profile_overview .save {
    color: #CCC;
    font-size: 24px;
    margin-top: -3px;
}
.profile_overview .save:hover, .profile_overview .save:active {
  color: #ff5a5f;
  text-decoration: none;
}
.profile_overview .middot {
  color: #AAA;
}
.profile_overview .rating_wrapper {
  margin-top: -1px;
  margin-left: -2px;
}
.profile_overview .reviews {
  color: #AAA;
  margin-left: 5px;
}
.profile_overview .reviews a {
  color: #AAA;
}
.profile_overview table {
  width: 100%;
}
.profile_overview table td {
  vertical-align: top;
}
.profile_overview table tr td:first-child {
  font-weight: 600;
}
.profile_overview table td span {
  display: block;
  margin-bottom: 8px;
}
.profile_overview table td span.hourly_rate {
  font-size: 20px;
}
.profile_details {
  padding: 15px;
}
.skills_wrapper {
  margin: 15px 0 10px 0;
}
.skill, .subject {
    padding: 6px 12px;
    margin: 0 7px 7px 0;
    border-radius: 2px;
    background: #2ba9cc;
    color: #FFF;
    float: left;
    transition: background .1s ease-in-out;
}
.subject {
  padding: 10px 16px;
  background: #f39742;
}
.skill:hover, .skill:active {
  background: #36c8f1;
  text-decoration: none;
  color: #FFF;
}
.subject:hover, .subject:active {
  background: #ffad55;
  text-decoration: none;
  color: #FFF;
}
.tutor_map {
  margin-right: -25px;
  margin-left: -25px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-bottom: 15px;
}
.tutor_map #map {
  height: 400px;
}

.review_item {
    background: #FFF;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
    border-radius: 2px;
}
.review_item table {
    width: 100%;
}
.review_item img {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 10px;
}
.review_item table tr td:first-child {
    width: 120px;
    text-align: center;
    padding-right: 15px;
    vertical-align: top;
}
.review_item table tr td:last-child {
	vertical-align: top;
}
.review_item .name {
	display: block;
	margin-bottom: 5px;
}
.review_item .datetime {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}
.see_more_text {
    max-height: 110px;
    overflow: hidden;
    display: block;
}
.review_item .review_text {
    font-size: 15px;
}
.review_item .rating_star {
    margin-top: 3px;
    float: none;
    position: relative;
    margin: 0 auto;
}

.sidebar {
  overflow-x: hidden;
  height: 500px;
}
.sidebar .booking_wrapper {
  height: 400px;
  width: 100%;
  padding: 15px;
  display: none;
}
.relative {
  position: relative;
}
.border-l-r {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.border-b {
  border-bottom: 1px solid #DDD;
}
.middot {
  margin: 0 10px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-30 {
  margin-top: 30px;
}
.vertical_nav {
  padding: 0;
}
.vertical_nav .nav-tabs {
  border: 0;
}
.vertical_nav .nav-tabs > li {
  float: none;
  margin-bottom: 0;
}
.vertical_nav .nav-tabs > li > a {
  border-radius: 0;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #DDD;
  color: #555;
  transition: padding .1s ease-in-out;
}
.vertical_nav .nav-tabs > li > a:hover {
  padding-left: 25px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #FFF;
  background: #2ba9cc;
  border: 0;
  border-bottom: 1px solid #2ba9cc;
  padding-left: 25px;
}
.tab-content {
  border-left: 1px solid #DDD;
  padding: 20px;
  padding-top: 0;
  min-height: 100%;
}
.tab-content #map {
  height: 500px;
}
h3 {
  margin-bottom: 20px;
}
.form-control {
  padding: 10px 15px;
  height: auto;
  border-radius: 2px;
}
label {
    margin: 10px 0;
}
table.stripes {
  width: 100%;
}
table.stripes td {
  height: 7px;
}
table.stripes td.blue {
  background: #2ba9cc;
}
table.stripes td.orange {
  background: #ff7c00;
}
table.stripes td.light_grey {
  background: #777;
}
table.stripes td.dark_grey {
  background: #444;
}
footer {
  background: url('../images/footer_bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 60px 0 50px 0;
  color: #444;
}
footer img {
  width: 80%;
}
footer h3 {
    margin: 0 0 20px 0;
    color: #555;
}
footer ul li a {
    margin-bottom: 10px;
    display: inline-block;
    color: #888;
    transition: color .1s ease-in-out;
}
footer ul li a:hover, footer ul li a:active {
  text-decoration: none;
  color: #ff7c00;
}
footer hr {
  border-top: 1px solid #333;
  margin: 40px 0;
}
footer .social_icons .icon {
    font-size: 26px;
    margin: 20px;
    color: #777;
    transition: color .1s ease-in-out;
}
footer .social_icons .icon:hover, footer .social_icons .icon:active {
  text-decoration: none;
  color: #ff7c00;
}

.modal-dialog {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 450px;
    margin: 0 auto;
}
.modal-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 0;
}
.modal-content {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    margin: 0 auto;
}

.modal-body {
    padding: 30px;
}

.modal .btn {
    padding: 19px;
    font-size: 16px;
}

#login_modal .social_logins .icon, #signup_modal .social_logins .icon {
    position: absolute;
    top: 20px;
    left: 23px;
    font-size: 20px;
}

#login_modal .social_logins a, #signup_modal .social_logins a {
    display: block;
    width: 100%;
    padding: 22px 25px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    border-radius: 2px;
    margin-bottom: 15px;
    text-decoration: none;
    position: relative;
    transition: background .1s ease-in-out;
}

#login_modal .social_logins a.facebook, #signup_modal .social_logins a.facebook {
    background: #3B5998;
}
#login_modal .social_logins a.facebook:hover, #login_modal .social_logins a.facebook:active,
#signup_modal .social_logins a.facebook:hover, #signup_modal .social_logins a.facebook:active {
    background: #496bb3;
}

#login_modal .social_logins a.google, #signup_modal .social_logins a.google {
    background: #db3236;
}
#login_modal .social_logins a.google:hover, #login_modal .social_logins a.google:active,
#signup_modal .social_logins a.google:hover, #signup_modal .social_logins a.google:active {
    background: #f34246;
}

@media (min-width: 768px) {

  .modal-content {
      width: 450px;
  }
}


/****** Style Datepicker ******/
.calendar {
  margin-bottom: 15px;
}

.ui-datepicker-header {
  height: 70px;
  line-height: 73px;
  color: #AAA;
  font-size: 16px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 2px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border-left: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #f39742;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar tr td {
  width: 14.28571428571429%;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	color: #AAA;
	margin: 5px 0 35px 0;
	font-size: 15px;
  text-align: center;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #777;
	line-height: 50px;
	font-size: 15px;
  border-radius: 2px;
}

.ui-state-default:hover {
	background: #eee;
  text-decoration: none;
}

.ui-state-highlight {
	color: #8dd391;
}

.ui-state-active {
  background: #f39742 !important;
  color: #FFF !important;
  font-weight: 600;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #DDD;
	border: 2px solid transparent;
}

/************************************/

/****** Schedule Selector ******/
table.schedule-table {
    width: 100%;
}
table.schedule-table th {
    text-align: center;
    padding: 6px;
}
.schedule-table td, .schedule-table th {
    border: 1px solid #DDD;
}
.schedule-rows td {
  height: 35px;
  margin: 3px;
  padding: 5px;
  background-color: #F8F8F8;
  cursor: pointer;
}
.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  width: 100px;
}
.schedule-rows td:not(first-chil) {
  width: 14.28571428571429%;
}
.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] {
  background-color: #2ba9cc;
}
.schedule-rows td[data-disabled] {
  opacity: 0.55;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}
.rating.rating_xl {
    margin: 13px 10px;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 0px 3px;
  font-size: 14px;
  font-family: ElegantIcons;
  display: inline-block;
  content: "\e033";
}
.rating.rating_xl > label:before {
    font-size: 20px;
}

.rating > .half:before {
  content: "\e034";
  position: absolute;
}

.rating > label {
  color: #888;
 float: right;
 margin: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(.disabled):not(:checked) > label:hover, /* hover current star */
.rating:not(.disabled):not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating:not(.disabled) > input:checked + label:hover, /* hover current star when changing rating */
.rating:not(.disabled) > input:checked ~ label:hover,
.rating:not(.disabled) > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating:not(.disabled) > input:checked ~ label:hover ~ label { color: #FFED85;  }
