if path != "/search"
    .container-fluid
      .row
        table.stripes
          tr
            td.blue
            td.dark_grey
            td.orange
            td.light_grey
            td.blue
            td.dark_grey
            td.orange
            td.light_grey
            td.blue
            td.dark_grey
            td.orange
            td.light_grey
            td.blue
            td.dark_grey
            td.orange
            td.light_grey
    footer
      .container
        .row
            .col-sm-12.col-md-3
                img(src='/../images/logo_grey.png')
                br
                br
                p &copy; Copyright 2016
            .col-sm-12.col-md-3
                h3 Company
                ul
                    li
                        a(href='#') About
                    li
                        a(href='#') Careers
                    li
                        a(href='#') Press
                    li
                        a(href='#') Blog
                    li
                        a(href='#') Terms of Service
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Contact
            .col-sm-12.col-md-3
                h3 Discover
                ul
                    li
                        a(href='#') Tutors
                    li
                        a(href='#') Subjects
                    li
                        a(href='#') Near You
            .col-sm-12.col-md-3
                h3 Tutoring
                ul
                    li
                        a(href='#') Become a Tutor
                    li
                        a(href='#') Benefits
                    li
                        a(href='#') Features
                    li
                        a(href='#') Payments
        .row
            hr

        .row
            .col-xs-12.text-center.social_icons
                h3 Join Us On

                a(href='#')
                    i.icon.social_facebook
                a(href='#')
                    i.icon.social_twitter
                a(href='#')
                    i.icon.social_linkedin
