if path != "/search"
    footer
      .container
        .row
          .col-sm-12.col-md-4
            p Column 1
          .col-sm-12.col-md-4
            p Column 2
          .col-sm-12.col-md-4
            p Column 3