title #{title} - Oiika | Where the cool kids hang out!

link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet' href='/css/select2.min.css')
link(rel='stylesheet' href='/css/elegant_icons.css')
if path == '/'
	link(href='css/main.css', rel='stylesheet')
else
	link(rel='stylesheet' href='/css/style.css')