meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

meta(name="description" content="Find tutors on Oiika - the fastest growing platform where students get help when they need it the most!")
meta(property="og:title" content="Oiika - Get the help you need to succeed")
meta(property="og:image" content="/images/logo.png")
meta(property="og:description" content="Oiika is where students meet tutors and get the help they need. Our vision is to connect students with the best tutors to help them learn faster.")
meta(property="og:url" content="https://www.oiika.com")
meta(property="og:site_name" content="Oiika")
meta(property="og:type" content="website")

title #{title} - Oiika | Find a tutor in your city

link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
link(rel='stylesheet' href='/css/select2.min.css')
link(rel='stylesheet' href='/css/elegant_icons.css')
link(rel='stylesheet' href='/css/style.css')
