doctype html
html
  head
    include ./head.pug
  body
    header
      Fullwidth page
    .container-fluid
      .main-content
        .row
          .col-s-12.col-m-4
            .row.filter
              .col-xs-12
            .row.results
              .col-xs-12.col-m-6.item
            List/grid view
          .col-hidden-s.col-m-8
            Map view
    footer
      .container
        .row
          .col-s-12.col-m-4
            Column 1
          .col-s-12.col-m-4
            Column 2
          .col-s-12.col-m-4
            Column 3